
@{
    ViewBag.Title = "Lista de Productos";
}

<br/>
<div class="row">
   @Html.ActionLink("Agregar Producto", "Create", null, new { @class = "btn btn-primary pull-right" })
</div>

<div class="row">
    @Html.Action("GetGrid")
</div>



@section scripts
{
    <script type="text/javascript">
       sys.manageProducts.init(
       {
           getDataUrl: '@Url.Action("GridPager")',
           getPagedDataUrl: '@Url.Action("GridPager")'
       });
    </script>
}
